/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #7085B6 #87A7D9;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #87A7D9;
}

*::-webkit-scrollbar-thumb {
  background-color: #7085B6;
  border-radius: 20px;
  border: 3px solid #87A7D9;
}

:root {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #303846; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-items: center;



}
/* 
header {
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
} */

header {
  
  padding: 5px;
  display: flex;
  position: fixed;
  height: 50px;

  line-height: 50px;
  background-color: #eee;
  justify-content: space-between;
  border: 1px solid black;


}

.nav {

  position: relative  ;
  margin: 0%;
  margin-right: 1em;
  justify-self: flex-end;
  list-style-type: circle;
  justify-content: space-between;
  text-align: center;
}


.nav > li {
  display: inline;
  margin: 1em;
}

.nav > li > a {
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: #c4c5c7;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0px;
  line-height: 140%;
  color: rgb(56, 56, 56);
}

/* header * {
  display: inline;
  height: 50px;
} */

/* header ul {
  padding: 0;
  display: inline;
  height: 50px;
}

header li {
  margin-left: 0px;
  height: 5px;
  display: inline;
} */

/* section {
  height: 100vh;
  border: 1px solid black;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.logo-img {

  width: 5em;
  border-radius: 5%;
}



#RapRap > .section-inner {

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.resume {
  background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
  color: rgb(248, 248, 248);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 0px;
  padding: 12px;
  border-radius: 5px;
  text-transform: uppercase;
}


/* about */

.about-section {

  margin: 1em;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.about-section>h2 {

  margin-top: 50px;
}


.about-pic {

  height: 10em;
  width: 10em;
  /* align-self: center; */
  position: relative;
  margin: 10px;
  border-radius: 50%;
  border-color: #7085B6;
  border: 10px;
  padding: 10px;
  background-color: #7085B6;
  float: left;
}

.about-description {

  margin: 1em;
  font-size: 1em;
  position: relative;

  text-align: justify;
  text-indent: 2%;

  padding: 10px;

  background-image: linear-gradient(to top, #c4c5c7 0%, #dcdddf 52%, #ebebeb 100%);
}


.container-skills {

  display: flex;
  flex-direction: column;
  align-content: center;


}


.skills-list {

  margin-top: 0px;
  display: grid;
  list-style-type: none;
  height: 30vh;
  width: 70vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
  align-self: center;



}

.skills-list>li {


  margin: 10px;
  justify-content: baseline;

}

.skill {

  background: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
  height: 80px;
  width: 100px;
  color: #DEF3F8;
  font-size: medium;
  border-radius: 20%;

}

.project-section > h2 {
  margin-top: 50px;
}
.cards-container {

  display: flex;
  width: 80vw;
}
.card {
  display:flex;
  flex-direction: column;
  width: 210px;
  height: 100px;
}
.card-img > img {
  height: 100px;
  width: 190px;

}
.card-body {
  padding:5px;
  font-size: small;
}




.social-media {
  list-style-type: none;
  display: flex;
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: 10px;
  border-radius: 20%;
}

.social-media>li {

  display: flex;
  margin: 1em;
  align-items: center;
}

#RapRap>h1 {
  margin: -4px 0px;
  font-size: 2.5rem;
  font-weight: 900;
}

footer {
  text-align: center;
  padding: 20px;
}

#RapRap h1 {
  font-size: 3em;
}

section h2 {
  font-size: 2.5em;
}

section h3 {
  font-size: 1.5em;
}



/* Sections */

#RapRap, #about, #projects, #contact {
  display: grid;
}

/* --------- */

/* section bgc */


header {
  width: 100vw;

  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
  background-blend-mode: normal, multiply;
}

#RapRap {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}

#about {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('bg-1.png');
}

#projects {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
}

#contact {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('bg-1.png');
}

footer {
  width: 100vw;
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.60) 100%);
  background-blend-mode: normal, multiply;
}